@use "scss" as *;

.loading {
  animation: spinningLoader 1s infinite;
  animation-timing-function: linear;
}

@keyframes spinningLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.defaultMode {
  color: $brand;
  margin: auto;
}

.buttonMode {
  color: #FFF;
}
