@use "scss" as *;

.container {
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;

  @include tablet-l {
    margin-left: 20px;
    margin-right: 20px;
  }

  .navCard {
    position: relative;

    .categoryLink {
      position: absolute;
      inset: 0;
    }

    .category {
      text-align: center;
    }
  }



  .categoriesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;

    @include desktop-m {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: 20px;
    }

    @include tablet {
      gap: 15px;
    }
  }
}
