@use 'scss' as *;

.container {
  width: 100%;
  max-width: 1240px;
  margin-bottom: 48px;

  form {
    display: flex;
    gap: 24px;
    min-width: 100%;
    margin-bottom: 24px;

    @include tablet-l {
      flex-direction: column;
    }
  }

  .searchInput {
    width: 100%;
  }

  .searchButton {
    min-width: 137px;
  }
}

