@use "scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;

  @include tablet-l {
    margin-left: 20px;
    margin-right: 20px;
  }

  .productLink {
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;

    @include desktop-m {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: 20px;
    }

    @include tablet {
      gap: 15px;
    }
  }

  .card {
    width: 100%;
  }
}
