@use "scss" as *;

.megaContainer {
  display: grid;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;

  @include tablet-l {
    margin-left: 20px;
    margin-right: 20px;
  }

  .totalProducts {
    position: relative;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: $space-m;
    margin-bottom: 43px;
  }
}
